@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700&family=Mukta:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#root,
body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: white;
    overflow-x:hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.scroll-width::-webkit-scrollbar{
    width: 5px;
}
input,textarea,select{
    background:white;
}